<!doctype html>
<html ng-app="exampleDialog">

<head>
    <meta charset="utf-8">
    <title>ngDialog demo</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ngDialog.css">
    <link rel="stylesheet" href="../css/ngDialog-theme-default.css">
    <!-- <link rel="stylesheet" href="../css/ngDialog-theme-plain.css"> -->
    <style>
    a,
    button {
        font: 14px 'MorebiRounded-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        display: block;
        color: #333;
        margin-bottom: 10px;
    }
    /* The following 'important' styles are just here to show off trapFocus */
    
    button.ngdialog-button {
        border: solid transparent 1px !important;
    }
    
    button.ngdialog-button:focus {
        border: solid black 1px !important;
    }
    
    .ngdialog h2:focus {
        outline: none;
    }
    
    .ngdialog-content {
        width: 600px !important;
    }
    
    .fb-button {
        padding-right:220px;
        
    }
    </style>
</head>

<body ng-controller="MainCtrl">
    <!-- Buttons and links -->
    <a href="" ng-click="openDefault()">Default theme</a>
    <a href="" ng-click="openPlain()">Plain theme</a>
    <a href="" ng-click="openWithoutOverlay()">Open without overlay</a>
    <!-- Templates -->
    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <div class="row">
                <div class="col-md-12">
                    <h3>Congratulations on activating your cameras!</h3>
                </div>
            </div>
            <p ng-show="theme">Test 2- content for <code>{{theme}}</code>
            </p>
            <p ng-show="ngDialogData.foo">Data passed through: <code>{{ngDialogData.foo}}</code>
            </p>
            <p ng-show="dialogModel.message"> Share via: icons
            </p>
        </div>
        <div class="ngdialog-buttons">
            <div class="row">
                <div class="col-md-12 text-center fb-button">
                    <button type="button" class=" ngdialog-button ngdialog-button-primary">Login to Facebook</button>
                </div>
            </div>
        </div>
    </script>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script>
    window.angular || document.write('<script src="../bower_components/angular/angular.min.js">\x3C/script>')
    </script>
    <script src="../js/ngDialog.js"></script>
    <!-- App -->
    <script>
    var app = angular.module('exampleDialog', ['ngDialog']);



    // Example of how to set default values for all dialogs
    app.config(['ngDialogProvider', function(ngDialogProvider) {
        ngDialogProvider.setDefaults({
            className: 'ngdialog-theme-default',
            plain: false,
            showClose: true,
            closeByDocument: true,
            closeByEscape: true,
            appendTo: false,
            preCloseCallback: function() {
                console.log('default pre-close callback');
            }
        });
    }]);

    app.controller('MainCtrl', function($scope, $rootScope, ngDialog) {



        // default loading the dialog
        ngDialog.open({
            template: 'firstDialogId',
            controller: 'InsideCtrl',
            className: 'ngdialog-theme-default'
        });

        // end default loading the dialog



        $scope.open = function() {
            ngDialog.open({
                template: 'firstDialogId',
                controller: 'InsideCtrl',
                data: {
                    foo: 'some data'
                }
            });
        };


        $scope.openDefault = function() {
            ngDialog.open({
                template: 'firstDialogId',
                controller: 'InsideCtrl',
                className: 'ngdialog-theme-default'
            });
        };

        $scope.openDefaultWithPreCloseCallbackInlined = function() {
            ngDialog.open({
                template: 'firstDialogId',
                controller: 'InsideCtrl',
                className: 'ngdialog-theme-default',
                preCloseCallback: function(value) {
                    if (confirm('Close it?  (Value = ' + value + ')')) {
                        return true;
                    }
                    return false;
                }
            });
        };






        $rootScope.$on('ngDialog.opened', function(e, $dialog) {
            console.log('ngDialog opened: ' + $dialog.attr('id'));
        });

        $rootScope.$on('ngDialog.closed', function(e, $dialog) {
            console.log('ngDialog closed: ' + $dialog.attr('id'));
        });

        $rootScope.$on('ngDialog.closing', function(e, $dialog) {
            console.log('ngDialog closing: ' + $dialog.attr('id'));
        });
    });

    app.controller('InsideCtrl', function($scope, ngDialog) {
        $scope.dialogModel = {
            message: 'message from passed scope'
        };
        $scope.openSecond = function() {
            ngDialog.open({
                template: '<h3><a href="" ng-click="closeSecond()">Close all by click here!</a></h3>',
                plain: true,
                closeByEscape: false,
                controller: 'SecondModalCtrl'
            });
        };
    });

    app.controller('SecondModalCtrl', function($scope, ngDialog) {
        $scope.closeSecond = function() {
            ngDialog.close();
        };
    });
    </script>
</body>

</html>
